.podc__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.podc__description h1 {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 70px;
   line-height: 88px;
   letter-spacing: 3.2px;
   color: #FFFFFF;
   position: relative;
   max-width: 526px;

}

.podc__description h1 img {
   position: absolute;
   bottom: 0;
   left: 0;
}